<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>carousel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A84F0531C6C55E5002A7D8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A84F0671C6C55E5002A7D8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A84F0721C6C55E6002A7D8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
